.profile-picture {
	max-width: 100%;
}

.centered-text {
	text-align: center;
}

.thumbnail {
	display: inline-block;
	text-align: center;
	border: 0px

}

.unicolor {
	color:#33ccff;
}

.workcolor {
	color:#eb99ff;
}


.margin {
	margin-top: 10px
}

.fa {
	color: black;
}