.profile-picture {
	max-width: 100%;
}

.centered-text {
	text-align: center;
}

.thumbnail {
	display: inline-block;
	text-align: center;
	border: 0px

}

.unicolor {
	color:#33ccff;
}

.workcolor {
	color:#eb99ff;
}

.background-image {
	background-image: url(https://s-media-cache-ak0.pinimg.com/736x/fb/a8/b5/fba8b5f0cdc72a752e065c370ab52831.jpg);
}

.margin {
	margin-top: 10px
}